<ion-view title="Bill">
    <ion-content padding="true" ng-controller="BillCtrl" class="has-header bg">
        <ion-refresher
            pulling-text="Pull to Refresh your Bill"
            on-refresh="doRefresh(bill.id)">
        </ion-refresher>
        <header>
            <h3>Primary Slicer: {{bill.primary_customer_name}}</h3>
            <h4><b>{{bill.merchant_name}}</b></h4>
            <h5>Table number {{bill.seating_id}}</h5>
        </header>
        <ion-list ng-controller="PopupCtrl">
            <ul class= "list">
                <li class="item item-button-right" ng-repeat="item in bill.item_array" on-tap="{{bill.paid}}||transactionsPopup(item.id,item.item_description,bill.transaction_array)">
                <button class="button button-positive"><strong>{{item.assigned_to.charAt(0).toUpperCase()}}</strong></button>
                {{item.item_description}}<br>
                Base Price + Tax + Tip: <strong>{{item.price*(1+data.tip/100) | currency}}</strong>
                </li>
            </ul>
        </ion-list>
        <div class="total">
            <h3>Total: {{((bill.total/100)*(1+data.tip/100))  | currency}}</h3>
            <h4>Tip: {{data.tip}}%</h4>
        </div>
        <div ng-show="!bill.paid">
            <p>Adjust Tip:</p>
            <div class="item range">
            <i>$</i>
            <input type="range" name="tip" min="0" max="50" value="data.tip" ng-model = "data.tip">
            <i>$$$</i>
            </div>
        </div>
        <ion-list ng-controller="ListCtrl" show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">

            <ion-item ng-repeat="transaction in bill.transaction_array" class="item item-icon-right item-remove-animate translist">
                <h1>{{transaction[0]}}</h1><h3>Total Paid: {{transaction[1]/100 | currency}}</h3>
                <h3>Total Owed: {{(transaction[3]*(1+data.tip/100))-(transaction[1]/100) | currency}}</h3>
                <h3 ng-show="{{transaction[4]==currentUserID}}">Swipe to Settle Your Bill!</h3>
                <i class="icon ion-ios-arrow-right"></i>
                <ion-option-button class="button-positive" ng-click="edit(transaction)">Edit</ion-option-button>
                <ion-option-button class="button-assertive" ng-click="deleteTrans(bill.id, transaction[2])" ng-show="{{transaction[4]!=currentUserID}}">Delete</ion-option-button>
                <ion-option-button class="button button-balanced" ng-controller="PopupCtrl" ng-click="chargePopup(bill.id,{{(transaction[3] - transaction[1])}},transaction[2])" ng-show="!bill.paid"ng-show="(transaction[4]==currentUserID)">Settle Your Bill</button>
            </ion-item>

        </ion-list>
        <button class="button button-positive  button-block" ng-controller="PopupCtrl" ng-click="showPopup(bill.id)" ng-show="!bill.paid">Add another friend to the bill</button>
    </ion-content>
</ion-view>
