<ion-view title="Bill">
    <ion-content padding="true" ng-controller="BillCtrl" class="has-header">
        <ion-refresher
            pulling-text="Pull to Refresh your Bill"
            on-refresh="doRefresh(bill.id)">
        </ion-refresher>
        <h4><b>{{bill.merchant_name}}</b></h4>
        <h5>Table number {{bill.seating_id}}</h5>
        <ion-list ng-controller="PopupCtrl">
            <ion-item class= "list card" ng-repeat="item in bill.item_array">
              <li class="item" on-tap="transactionsPopup(item.id,item.item_description,bill.transaction_array)">{{item.item_description}} {{item.price*(1+data.tip/100) | currency}} {{item.assigned_to}}</li>
            </ion-item>
        </ion-list>
        <div class="item range">
            <i>$</i>
            <input type="range" name="tip" min="0" max="50" value="data.tip" ng-model = "data.tip">
            <i>$$$</i>
        </div>
        <div></div>
        <h5><b>Total: {{((bill.total/100)*(1+data.tip/100))  | currency}} Tip: {{data.tip}}%</b></h5>


        <ion-list ng-controller="ListCtrl" show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
            <ion-item ng-repeat="transaction in bill.transaction_array">
                <h3>{{transaction[0]}}</h3><h4>Total Paid: {{transaction[1]/100 | currency}} Total Owed: {{transaction[3]*(1+data.tip/100) | currency}}</h4>
                <ion-option-button class="button-positive" ng-click="edit(transaction)">Edit</ion-option-button>
                <ion-option-button class="button-assertive" ng-click="deleteTrans(bill.id, transaction[2])">Delete</ion-option-button>
                <ion-option-button class="button button-positive" ng-controller="PopupCtrl" ng-click="chargePopup(bill.id,{{(transaction[3] - transaction[1])}},transaction[2])" ng-show="{{transaction[4]==currentUserID}}">Settle Your Bill</button>
            </ion-item>

<!--             <ion-list ng-controller="guestList" show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
                <ion-item ng-repeat="guest in guestArray">
                    <h2>{{guest.username}}</h2> Total Paid: $0.00 Total Owed: $0.00
                    <ion-option-button class="button-positive" ng-click="edit(transaction)">Edit</ion-option-button>
                    <ion-option-button class="button-assertive" ng-click="deleteGuest(guest)">Delete</ion-option-button>
                </ion-item>
            </ion-list> -->

        </ion-list>



        <button class="button button-positive  button-block" ng-controller="PopupCtrl" ng-click="showPopup(bill.id)">Add another friend to the bill</button>
    </ion-content>
</ion-view>
