<ion-view title="Bills">
    <ion-content padding="true" class="has-header bg">
        <ion-refresher
            pulling-text="Pull to Refresh your Bill"
            on-refresh="allRefresh()">
        </ion-refresher>
        <ion-list>
        <h3 style="text-align: center; padding: 10px;">Open Bills</h3>
            <ion-item class= "list card item-icon-right item-icon-left" ng-repeat="bill in bills" ng-show = '!bill["paid"]'ng-href="#/app/bills/{{bill.id}}">
              <h2>{{bill.merchant_name}}</h2>
              <i class="icon ion-android-restaurant"></i>
              <i class="icon grey">{{bill.total/100 | currency}}</i>
            </ion-item>
        </ion-list>
        <ion-list>
        <h3 style="text-align: center;">Bill History</h3>
            <ion-item class= "list card item-icon-right item-icon-left" ng-repeat="bill in bills" ng-show='bill["paid"]'ng-href="#/app/bills/{{bill.id}}">
              <h2>{{bill.merchant_name}}</h2>
              <i class="icon ion-ios-time-outline"></i>
              <i class="icon grey">{{bill.created_at | date : 'shortTime'}}</i>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
