<!-- <ion-view title="Login">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="login-button6" class="button button-stable  button-block">Log in</button>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login-button7" class="button button-positive  button-block button-clear">Or create an account</a>
        </form>
    </ion-content>
</ion-view> -->

<ion-view name="login-view" title="Let's Get Ready to Slice It">
    <ion-content padding="true" class="bg">
    <header>
    <img src="img/logo_transparent.png"/>
    </header>

    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email" ng-model="data.email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="data.password">
      </label>
    </div>

    <div class="padding">
      <button class="button button-block button-calm" ng-click="login()">Login</button>
    </div>
    <div class="padding">
      <form action="#/register">
        <button class="button button-block button-balanced">Not a Slicer? Register Here!</button>
      </form>
    </div>


  </ion-content>
</ion-view>
