<ion-view title="Bill">

    <ion-content padding="true" class="has-header">
        <ion-list>
        <ion-item class= "list card" ng-repeat="item in yo.item_array" ng-click="selectMerchant(merchant)">
              <h2>{{item.item_description}}</h2> ${{item.price}}
        </ion-item>
        </ion-list>
        <h4><b>Total: {{yo.total}} cents</b></h4>

        <button class="button button-positive  button-block">Pay up fucker!</button>
        <button class="button button-positive  button-block">Add another fucker</button>
    </ion-content>
</ion-view>
