/* Empty. Add your own CSS if you like */
* {
  font-family: arial
}

.mapground{
  background-image: url("http://i.imgur.com/x9lFd7z.png")
}

header {
  text-align: center;
}

.popup-vertical-buttons button
{
    min-width: 100%;
    margin-bottom: 5px;
}
.popup-vertical-buttons .popup-buttons
{
    display: block;
}

.center {
  display: relative;
  margin-left: 74%;
 }

.total {
  margin: 20px 0;
  border: double 10px #fff;
  padding: 5px;
  background-color: black;
  border-radius: 10px;
  text-align: center;
}

.less-padding h2 {
font-size: 1.62em;
color: white;
}

.total h3, .total h4 {
  color: white;
}

 .range {
  margin-bottom: 10px;
 }

 .login-head {
  padding-bottom: 20px;
 }

 .gray {
  background: transparent;
 }

 .grey {
  color: gray;
 }

 .less-padding{
  padding: .4em;
  border-radius: 4px;
 }

 .icon h4{

 }

.less-margin{
  padding: 0;
  margin-top: 0em;
  margin-bottom: .4em;
  margin-left: -1em;
  margin-right: 1.2em;
  border-radius: 4px;
}

.restName {
  width: 45%
}



